.btn-custom {
  background-color: #8cc63f;
  color: #fff;
  border-radius: 10px;
  &:hover {
    box-shadow: 0 0 5px 1px #8cc63f;
  }
}
.rating {
  color: #ffa000;
  list-style-type: none;
  padding: 0;
  display: flex;
}
.name-product {
  font-weight: 700 !important;
  height: 35px;
  font-size: 18px;
}
.title-blog {
  font-weight: 700 !important;
  font-size: 18px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-blog {
  font-size: 14px;
  color: #9d9797;
}
.content-blog {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overlay {
  overflow: hidden;
  img {
    transition-duration: 1.5s;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 !important;
  }
}
@media (max-width: "500px") {
  .title-blog {
    font-weight: 700 !important;
    font-size: 16px;
  }
  .time-blog {
    font-size: 12px;
    color: #9d9797;
  }
  .content-blog {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .overlay {
    img {
      height: 100px;
    }
  }
}

.menu-active {
  background-color: #8cc63f !important;
  color: #fff;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.btn {
  &:focus {
    box-shadow: none !important;
  }
}
.btn-transparent {
  background-color: transparent;

  &:hover {
    background-color: #8cc63f !important;
    a {
      color: #fff !important;
    }
  }
}
.form-control {
  border-radius: 10px !important;
}
.icon-sideshow:hover {
  color: #a8e618;
}
.header {
  .navbar-nav {
    .nav-link {
      a {
        padding: 10px !important;
      }
      .btn {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.max-width-1300 {
  max-width: 1300px;
  width: 100%;
}
.form-check {
  position: relative;
  display: block;
}

.form-check-toggle {
  position: relative;
  padding-left: 0;
  line-height: 30px;

  input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  input + span {
    cursor: pointer;
    user-select: none;
    height: 15px;
    margin-left: 70px;
    display: block;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 17px;
      width: 37px;
      background: rgb(114, 109, 109);
      border: solid 1px #6c757d;
      //box-shadow: inset 0 0 5px $engie-gray-10;
      transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
      border-radius: 15px;
    }

    &:after {
      width: 15px;
      height: 15px;
      margin-top: 1px;
      margin-left: 1px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      background: #fff;
      transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      text-align: center;
      font-weight: bold;
      content: "";
      //border: solid $engie-black-01 0.05rem;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.05);
    }
  }

  input {
    &:checked + span {
      &:after {
        content: "";
        margin-left: 21px;
        box-shadow: none;
      }

      &:before {
        background-color: #86be4e;
        border-color: #86be4e;
        transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
      }
    }
  }
}
.cursor-pointer {
  cursor: pointer;
}
.input-group {
  max-width: 500px;
  margin-top: 20px;
  .form-control {
    border-radius: 10px 0 0 10px !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  .btn {
    border-radius: 0 10px 10px 0;
  }
}
a {
  color: unset !important;
}
a:hover {
  color: unset !important;
  text-decoration: none !important;
}
