.btn-custom {
  background-color: #8cc63f;
  color: #fff;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
.rating {
  color: #ffa000;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.title-blog {
  font-weight: 700 !important;
  font-size: 23px;
}
.time-blog {
  font-size: 15px;
  color: #9d9797;
}

.menu-active {
  background-color: #8cc63f !important;
  color: #fff;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.btn {
  &:focus {
    box-shadow: none !important;
  }
}
.btn-transparent {
  background-color: transparent;

  &:hover {
    background-color: #8cc63f !important;
    color: #fff !important;
  }
}
.form-control {
  border-radius: 10px !important;
}
.icon-sideshow:hover {
  color: #a8e618;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 0 !important;
  .nav-link {
    border: none !important;
    margin-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav-link.active {
    color: #3e8e41;
  }
}
.max-width-1300 {
  max-width: 1300px;
  width: 100%;
}
