.content {
  width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  height: 100%;
  background-color: #fff;
  .card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    .card-body {
      .content-blog {
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .overlay {
      overflow: hidden;
      img {
        transition-duration: 1.5s;
        height: 250px;
        width: 100%;
        object-fit: contain;
      }
    }
    &:hover {
      box-shadow: rgba(34, 102, 74, 0.25) 0px 13px 27px -5px, rgba(23, 43, 31, 0.3) 0px 8px 16px -8px;
      .overlay {
        overflow: hidden;
        img {
          transform: scale(1.3);
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          z-index: 0;
        }
      }
    }
  }

  .banner-home {
    height: 70vh;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-carousel {
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
    .blur-banner {
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.3;
    }
    .text-banner {
      text-align: center;
      position: absolute;
      h5 {
        color: #fff;
        font-size: 45px;
        text-align: center;
        font-weight: 900;
        font-family: system-ui !important;
      }
      .btn-buy-now {
        background-color: #8cc63f !important;
        border-color: #8cc63f !important;
        height: 60px;
        color: #fff;
        font-weight: 600;
        border-radius: 20px;
        padding: 0 20px;
        div {
          font-size: 30px;
        }
      }
    }
    .category-carousel {
      margin: 20px 0;
      height: auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      padding: 20px 0;
      border-radius: 5px;
      position: absolute;
      max-width: 1200px;
      width: 100%;
      bottom: -120px;
      .item-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          color: #8cc63f;
          box-shadow: 0 1px 1px -4px #ccc;
        }
      }
    }
  }
  .content-home {
    padding-bottom: 10px;
    .best-seller {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 120px;
      .title-best-seller {
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
        font-weight: 700;
      }
      .tab-best-seller {
        .nav-tabs {
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
          border-bottom: 0 !important;
          .nav-link {
            border: none !important;
            margin-right: 10px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
          }
          .nav-link.active {
            color: #3e8e41;
          }
        }
      }
    }
    .banner-discount {
      background-image: url(https://images7.alphacoders.com/328/thumb-1920-328672.jpg);
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      flex-direction: column;
      .img-banner-discount {
        height: 300px;
        position: absolute;
        object-fit: cover;
        width: 100%;
      }
      h2 {
        z-index: 10;
      }
      .blur-banner-discount {
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: 9;
        opacity: 0.3;
        background-color: #000;
      }
      .time-discount {
        margin-top: 20px;
        z-index: 10;
        span {
          background: #fff0 !important;
          border: 3px solid #fff;
          border-radius: 99px !important;
          padding: 20px !important;
          color: #fff;
          margin-right: 12px;
        }
      }
    }
  }

  .box-introduce {
    padding-bottom: 10px;
    .banner-introduce {
      position: relative;
      height: 200px;
      text-align: center;
      .img-banner-introduce {
        height: 200px;
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .blur-banner-introduce {
        height: 200px;
        position: absolute;
        background-color: #000;
        opacity: 0.3;
        z-index: 2;
        width: 100%;
      }
      h5 {
        color: #fff;
        font-size: 40px !important;
        font-weight: 600 !important;
        line-height: 200px;
        z-index: 20;
        position: relative;
      }
    }
    .content-introduce {
      max-width: 1200px;
      margin: auto;
      padding: 20px 0;
      div {
        line-height: 1.7;
      }
      h5 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px !important;
      }
      .item-introduce {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div {
          text-align: center;
        }
      }
    }
  }

  .detail-product {
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 50px;
    .image-product {
      max-width: 500px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: #ccc 0px 1px 2px 0px, #ccc 0px 1px 3px 1px;
      object-fit: cover;
    }

    .tab-product {
      .nav-tabs {
        display: flex;
        margin-bottom: 25px;
        border-bottom: 0 !important;
        .nav-link {
          border: none !important;
          margin-right: 10px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          color: rgb(51, 51, 51);
          border-radius: 10px;
          background-color: #ccc;
          width: 140px;
          text-align: center;
        }
        .nav-link.active {
          background-color: #8cc63f;
          color: #fff;
        }
      }
      .form-rating {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px;
      }
    }
  }
  .category {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    .list-category {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px;
      h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0;
      }
      .title-category {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: 700;
        &:hover {
          background-color: #8cc63f;
          color: #fff;
        }
      }
    }
  }
  .blog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    .list-blog {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px;
      h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0;
      }
      .blog-item {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        display: flex;
        font-weight: normal;
        &:hover {
          background-color: #8cc63f;
          color: #fff;
        }
      }
    }
  }
  .box-contract {
    .banner-contract {
      position: relative;
      height: 200px;
      .img-contract {
        height: 200px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      .blur-banner-contract {
        height: 200px;
        position: absolute;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
      }
      .title-contract {
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: #f8f9fa;
        font-weight: 600;
        z-index: 2;
        position: relative;
        line-height: 200px;
      }
    }
    .content-introduce {
      max-width: 1200px;
      width: 100%;
    }
  }
  .box-cart {
    .banner-cart {
      position: relative;
      height: 200px;
      .img-cart {
        height: 200px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      .blur-banner-cart {
        height: 200px;
        position: absolute;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
      }
      .title-cart {
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: #f8f9fa;
        font-weight: 600;
        z-index: 2;
        position: relative;
        line-height: 200px;
      }
    }
    .banner-check-out {
      height: 200px;
      position: relative;
      .img-banner-check-out {
        height: 200px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      .blur-check-out {
        height: 200px;
        position: absolute;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
      }
      .icon-back {
        position: absolute;
        top: 100px;
        font-size: 35px;
        left: 20px;
        color: #fff;
        z-index: 3;
        cursor: pointer;
      }
      .title-cart {
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: #f8f9fa;
        font-weight: 600;
        z-index: 2;
        position: relative;
        line-height: 200px;
      }
    }
    .group-btn {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .btn {
      width: 100%;
      max-width: 200px;
    }
    .table {
      tr {
        td {
          height: 70px;
          div {
            display: flex;
            align-items: center;
            height: 50px;
          }
        }
      }
    }
  }
  .box-policy {
    padding-bottom: 10px;
    .banner-policy {
      position: relative;
      height: 200px;
      text-align: center;
      .img-banner-policy {
        height: 200px;
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .blur-banner-policy {
        height: 200px;
        position: absolute;
        background-color: #000;
        opacity: 0.3;
        z-index: 2;
        width: 100%;
      }
      h5 {
        color: #fff;
        font-size: 40px !important;
        font-weight: 600 !important;
        line-height: 200px;
        z-index: 20;
        position: relative;
      }
    }
    .content-policy {
      max-width: 1200px;
      margin: auto;
      padding: 20px 0;
      div {
        line-height: 1.7;
      }
      h5 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px !important;
      }
      .item-policy {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div {
          text-align: center;
        }
      }
    }
  }
}
.footer {
  background-image: url(https://images5.alphacoders.com/377/thumb-1920-377782.jpg);
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
