html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
.view,
body,
html {
  height: 100%;
}
.carousel {
  height: 50%;
}
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}
// @media (max-width: 962px) {
//   body {
//     padding: 20px;
//   }
// }

.page-footer {
  background-color: #929fba;
}
.navbar {
  box-shadow: 1px 1px 10px #ccc;
  height: 100px;
  background-color: #fff;
  padding: 0 !important;

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    align-items: center;
    .menu-button {
      display: flex;
      justify-content: center;
    }
    .nav-item {
      .nav-link {
        .form-control {
          border-radius: 10px !important;
        }
        input[type="text"]:focus {
          outline: none !important;
          box-shadow: none;
        }
        .icon-search-menu {
          position: absolute;
          top: 20px;
          right: 20px;
        }
        .icon-cart-menu {
          color: #8cc63f;
          padding-right: 10px;
          cursor: pointer;
          a {
            padding: 0 !important;
          }
        }
        .detail-cart-menu {
          position: relative;
          &:hover {
            .box-detail-product-cart {
              display: block;
            }
          }
          .icon-cart:hover {
            color: #7bb135;
          }
          .number-product-cart-menu {
            position: absolute;
            font-size: 10px;
            top: -9px;
            right: -11px;
            background: #f27474;
            border-radius: 50px;
            padding: 10px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
          }
          .box-detail-product-cart {
            position: absolute;
            display: none;
            height: auto;
            width: 250px;
            background-color: #fff;
            right: -10px;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 10px;
            .detail-product-cart {
              display: flex;
              border-bottom: 1px solid #ccc;
              padding: 10px 0;
              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
              }
              .item-name-product {
                font-size: 12px;
              }
              .item-price-product {
                font-size: 10px;
                color: #ccc;
              }
            }
            .total-money {
              font-size: 12px;
              color: rgb(27, 22, 22);
              width: 100%;
              text-align: center;
              margin-top: 10px;
            }
            .group-btn-cart-menu {
              display: flex;
              flex-direction: column;
              margin-top: 10px;
              .btn {
                height: 30px !important;
                font-size: 12px !important;
                padding: 5px 0 0 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 982px) {
  .navbar {
    padding: 0;
    .navbar-collapse {
      background-color: #fff;
      .navbar-nav {
        .menu-button {
          flex-direction: column;
          width: 100%;
          .nav-item {
            width: 100%;
            .nav-link {
              button {
                width: 100%;
                text-align: left;
              }
            }
            .dropdown {
              width: 100%;
            }
            .dropdown-content {
              width: 50%;
              right: 0;
            }
          }
        }
        .nav-item {
          .nav-link {
            a {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
