html {
  body {
    font-family: "Roboto Slab", sans-serif !important;
  }
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #8cc63f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        &:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  min-height: 100vh;
  background: #e9ecef;
  .card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    background-color: #fff !important;
    border: none;
    border-radius: 10px !important;
    .card-body {
      .header-data-table {
        display: flex;
        justify-content: space-between;
      }
      h5 {
        display: contents;
        font-weight: 600;
        color: #495057;
      }
      i {
        cursor: pointer;
        font-size: 18px;
        &:hover {
          color: #8cc63f;
        }
      }
      .name-produce {
        height: 60px;
      }
      .sc-hHftDr {
        .rdt_TableHead {
          .rdt_TableCol_Sortable {
            div {
              font-size: 14px !important;
              font-weight: bold !important;
            }
          }
        }
      }
    }
  }
  .min-height-100vh {
    min-height: 100vh;
  }
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav li a .sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
