html {
  body {
    font-family: "Roboto Slab", sans-serif !important;
  }
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

.admin-sidebar {
  .logo-title {
    max-height: 70px;
    width: 100%;
    height: 100%;
    background: #1dd1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      display: inline-block;
      width: 35%;
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #10ac84;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: 20px;
      a {
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        &:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  min-height: 100vh;
  height: 100%;
  background: #e9ecef;
  padding: 15px;
  .card {
    border-radius: 15px;
    .card-body {
      .header-data-table {
        display: flex;
        justify-content: space-between;
      }

      i {
        cursor: pointer;
        font-size: 18px;
        &:hover {
          color: #8cc63f;
        }
      }
      .name-produce {
        height: 60px;
      }
    }
  }
}

/* Sidebar Styles */
.sidebar-nav li a .sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white !important;
  &.active {
    background-color: #2ecc71;
  }
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
