.content {
  width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  height: 100%;
  background-color: #ebebeb;
  .card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    .overlay {
      overflow: hidden;
      img {
        transition-duration: 4s;
      }
    }
    &:hover {
      box-shadow: rgba(34, 102, 74, 0.25) 0px 13px 27px -5px,
        rgba(23, 43, 31, 0.3) 0px 8px 16px -8px;

      .overlay {
        overflow: hidden;
        img {
          transform: scale(2);
          -webkit-transform: scale(2);
          -moz-transform: scale(2);
          z-index: 0;
        }
      }
    }
  }

  .banner-home {
    background: url(https://images6.alphacoders.com/383/thumb-1920-383146.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-banner {
      text-align: center;
      div {
        color: #fff;
        font-size: 60px;
        text-align: center;
        font-weight: 900;
      }
      .btn-buy-now {
        background-color: #8cc63f !important;
        border-color: #8cc63f !important;
        height: 60px;
        color: #fff;
        font-weight: 600;
        border-radius: 20px;
        padding: 0 20px;
        div {
          font-size: 30px;
        }
      }
    }
  }
  .content-home {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    .category-carousel {
      margin: 20px 0;
      height: auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      padding: 20px 0;
      border-radius: 5px;
      .item-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          color: #8cc63f;
          box-shadow: 0 1px 1px -4px #ccc;
        }
      }
    }
    .best-seller {
      background-color: rgb(255, 255, 255);
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      .title-best-seller {
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
  .box-introduce {
    .banner-introduce {
      background-image: url(https://images.alphacoders.com/622/thumb-1920-62233.png);
      height: 200px;
      color: #fff;
      font-size: 30px;
      text-align: center;
      line-height: 200px;
    }
  }
  .detail-product {
    background-color: #fff;
    width: 100%;
    max-width: 1100px;
    margin: auto;
  }
  .category {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: #fff;
    .list-category {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px;
      h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0;
      }
      .title-category {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: 700;
        &:hover {
          background-color: #8cc63f;
          color: #fff;
        }
      }
    }
  }
  .blog {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: #fff;
    .list-blog {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px;
      h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0;
      }
      .blog-item {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        display: flex;
        font-weight: normal;
        &:hover {
          background-color: #8cc63f;
          color: #fff;
        }
      }
    }
  }
  .box-cart {
  }
  .box-contract {
    .banner-contract {
      background-image: url(https://images2.alphacoders.com/339/thumb-1920-3392.jpg);
      height: 200px;
      color: #fff;
      font-size: 30px;
      text-align: center;
      line-height: 200px;
    }
    h5 {
      font-size: 30px !important;
    }
  }
  .cart {
    .title-cart {
      width: 100%;
      text-align: center;
      padding: 30px 0;
      font-size: 30px;
      color: #28a745;
      font-weight: 600;
    }
    .icon-back {
      position: absolute;
      top: 36px;
      font-size: 35px;
      left: 20px;
      color: #28a745;
    }
  }
}
.footer {
  background-image: url(https://images5.alphacoders.com/377/thumb-1920-377782.jpg);
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
