.content {
  width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  height: 100%;
  background-color: #ebebeb; }
  .content .card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px; }
    .content .card .overlay {
      overflow: hidden; }
      .content .card .overlay img {
        transition-duration: 4s; }
    .content .card:hover {
      box-shadow: rgba(34, 102, 74, 0.25) 0px 13px 27px -5px, rgba(23, 43, 31, 0.3) 0px 8px 16px -8px; }
      .content .card:hover .overlay {
        overflow: hidden; }
        .content .card:hover .overlay img {
          transform: scale(2);
          -webkit-transform: scale(2);
          -moz-transform: scale(2);
          z-index: 0; }
  .content .banner-home {
    background: url(https://images6.alphacoders.com/383/thumb-1920-383146.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .content .banner-home .text-banner {
      text-align: center; }
      .content .banner-home .text-banner div {
        color: #fff;
        font-size: 60px;
        text-align: center;
        font-weight: 900; }
      .content .banner-home .text-banner .btn-buy-now {
        background-color: #8cc63f !important;
        border-color: #8cc63f !important;
        height: 60px;
        color: #fff;
        font-weight: 600;
        border-radius: 20px;
        padding: 0 20px; }
        .content .banner-home .text-banner .btn-buy-now div {
          font-size: 30px; }
  .content .content-home {
    max-width: 1100px;
    width: 100%;
    margin: auto; }
    .content .content-home .category-carousel {
      margin: 20px 0;
      height: auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      padding: 20px 0;
      border-radius: 5px; }
      .content .content-home .category-carousel .item-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px; }
        .content .content-home .category-carousel .item-category:hover {
          color: #8cc63f;
          box-shadow: 0 1px 1px -4px #ccc; }
    .content .content-home .best-seller {
      background-color: white;
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      border-radius: 5px;
      margin-bottom: 20px; }
      .content .content-home .best-seller .title-best-seller {
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
        font-weight: 700; }
  .content .box-introduce .banner-introduce {
    background-image: url(https://images.alphacoders.com/622/thumb-1920-62233.png);
    height: 200px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 200px; }
  .content .detail-product {
    background-color: #fff;
    width: 100%;
    max-width: 1100px;
    margin: auto; }
  .content .category {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: #fff; }
    .content .category .list-category {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px; }
      .content .category .list-category h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0; }
      .content .category .list-category .title-category {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: 700; }
        .content .category .list-category .title-category:hover {
          background-color: #8cc63f;
          color: #fff; }
  .content .blog {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: #fff; }
    .content .blog .list-blog {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px; }
      .content .blog .list-blog h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0; }
      .content .blog .list-blog .blog-item {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        display: flex;
        font-weight: normal; }
        .content .blog .list-blog .blog-item:hover {
          background-color: #8cc63f;
          color: #fff; }
  .content .box-contract .banner-contract {
    background-image: url(https://images2.alphacoders.com/339/thumb-1920-3392.jpg);
    height: 200px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 200px; }
  .content .box-contract h5 {
    font-size: 30px !important; }
  .content .cart .title-cart {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: #28a745;
    font-weight: 600; }
  .content .cart .icon-back {
    position: absolute;
    top: 36px;
    font-size: 35px;
    left: 20px;
    color: #28a745; }

.footer {
  background-image: url(https://images5.alphacoders.com/377/thumb-1920-377782.jpg);
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff; }
