html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
.view,
body,
html {
  height: 100%;
}
.carousel {
  height: 50%;
}
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}
a {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: none;
}
.page-footer {
  background-color: #929fba;
}
.content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  height: calc(100vh - 100px);
  background-color: #ccc;
  margin-bottom: 0;
}
.footer {
  background: antiquewhite;
  height: 100px;
  text-align: center;
}
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
