@import "./sidebar.scss";
@import "./menu.scss";
@import "./content.scss";
@import "./common.scss";
@import "./login.scss";
@import "./footer";

.card-body {
  padding: 0.7rem;
}

p,
span {
  margin: 0;
  padding: 0;
}
