html body {
  font-family: "Roboto Slab", sans-serif !important; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

.admin-sidebar .logo-title {
  max-height: 70px;
  width: 100%;
  height: 100%;
  background: #1dd1a1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .admin-sidebar .logo-title > img {
    display: inline-block;
    width: 35%; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #10ac84;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #sidebar-wrapper .sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none; }
    #sidebar-wrapper .sidebar-nav li {
      text-indent: 20px; }
      #sidebar-wrapper .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #f0f0f0; }
        #sidebar-wrapper .sidebar-nav li a:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255, 255, 255, 0.2); }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  min-height: 100vh;
  height: 100%;
  background: #e9ecef;
  padding: 15px; }
  #page-content-wrapper .card {
    border-radius: 15px; }
    #page-content-wrapper .card .card-body .header-data-table {
      display: flex;
      justify-content: space-between; }
    #page-content-wrapper .card .card-body i {
      cursor: pointer;
      font-size: 18px; }
      #page-content-wrapper .card .card-body i:hover {
        color: #8cc63f; }
    #page-content-wrapper .card .card-body .name-produce {
      height: 60px; }

/* Sidebar Styles */
.sidebar-nav li a .sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white !important; }
  .sidebar-nav > .sidebar-brand a.active {
    background-color: #2ecc71; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

html,
body,
header,
.carousel {
  height: 60vh; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh; } }

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh; } }

.view,
body,
html {
  height: 100%; }

.carousel {
  height: 50%; }

.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
  height: 100%; }

@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

.page-footer {
  background-color: #929fba; }

.navbar {
  box-shadow: 1px 1px 10px #ccc;
  height: 100px;
  background-color: #fff;
  padding: 0 !important; }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    align-items: center; }
    .navbar .navbar-nav .menu-button {
      display: flex;
      justify-content: center; }
    .navbar .navbar-nav .nav-item .nav-link .form-control {
      border-radius: 10px !important; }
    .navbar .navbar-nav .nav-item .nav-link input[type="text"]:focus {
      outline: none !important;
      box-shadow: none; }
    .navbar .navbar-nav .nav-item .nav-link .icon-search-menu {
      position: absolute;
      top: 20px;
      right: 20px; }
    .navbar .navbar-nav .nav-item .nav-link .icon-cart-menu {
      color: #8cc63f;
      padding-right: 10px;
      cursor: pointer; }
      .navbar .navbar-nav .nav-item .nav-link .icon-cart-menu a {
        padding: 0 !important; }
    .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu {
      position: relative; }
      .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu:hover .box-detail-product-cart {
        display: block; }
      .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .icon-cart:hover {
        color: #7bb135; }
      .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .number-product-cart-menu {
        position: absolute;
        font-size: 10px;
        top: -9px;
        right: -11px;
        background: #f27474;
        border-radius: 50px;
        padding: 10px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; }
      .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart {
        position: absolute;
        display: none;
        height: auto;
        width: 250px;
        background-color: #fff;
        right: -10px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 10px; }
        .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .detail-product-cart {
          display: flex;
          border-bottom: 1px solid #ccc;
          padding: 10px 0; }
          .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .detail-product-cart img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-right: 10px; }
          .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .detail-product-cart .item-name-product {
            font-size: 12px; }
          .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .detail-product-cart .item-price-product {
            font-size: 10px;
            color: #ccc; }
        .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .total-money {
          font-size: 12px;
          color: #1b1616;
          width: 100%;
          text-align: center;
          margin-top: 10px; }
        .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .group-btn-cart-menu {
          display: flex;
          flex-direction: column;
          margin-top: 10px; }
          .navbar .navbar-nav .nav-item .nav-link .detail-cart-menu .box-detail-product-cart .group-btn-cart-menu .btn {
            height: 30px !important;
            font-size: 12px !important;
            padding: 5px 0 0 0 !important;
            color: #fff !important; }

@media only screen and (max-width: 982px) {
  .navbar {
    padding: 0; }
    .navbar .navbar-collapse {
      background-color: #fff; }
      .navbar .navbar-collapse .navbar-nav .menu-button {
        flex-direction: column;
        width: 100%; }
        .navbar .navbar-collapse .navbar-nav .menu-button .nav-item {
          width: 100%; }
          .navbar .navbar-collapse .navbar-nav .menu-button .nav-item .nav-link button {
            width: 100%;
            text-align: left; }
          .navbar .navbar-collapse .navbar-nav .menu-button .nav-item .dropdown {
            width: 100%; }
          .navbar .navbar-collapse .navbar-nav .menu-button .nav-item .dropdown-content {
            width: 50%;
            right: 0; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link a img {
        display: none; } }

.content {
  width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  height: 100%;
  background-image: url(./background.jpg); }
  .content .card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px !important; }
    .content .card:hover {
      box-shadow: rgba(34, 102, 74, 0.25) 0px 13px 27px -5px, rgba(23, 43, 31, 0.3) 0px 8px 16px -8px; }
      .content .card:hover .overlay {
        overflow: hidden; }
        .content .card:hover .overlay img {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          z-index: 0;
          border-radius: 10px 10px 0 0 !important; }
  .content .banner-home {
    height: 70vh;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .content .banner-home .img-carousel {
      width: 100%;
      height: 70vh;
      object-fit: cover; }
    .content .banner-home .blur-banner {
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.3; }
    .content .banner-home .text-banner {
      text-align: center;
      position: absolute; }
      .content .banner-home .text-banner h5 {
        color: #fff;
        font-size: 45px;
        text-align: center;
        font-weight: 900;
        font-family: system-ui !important; }
      .content .banner-home .text-banner .btn-buy-now {
        background-color: #8cc63f !important;
        border-color: #8cc63f !important;
        height: 60px;
        color: #fff;
        font-weight: 600;
        border-radius: 20px;
        padding: 0 20px; }
        .content .banner-home .text-banner .btn-buy-now div {
          font-size: 30px; }
    .content .banner-home .category-carousel {
      margin: 20px 0;
      height: auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      box-shadow: 0 3px 6px -4px #ccc, 0 3px 6px #ccc;
      padding: 20px 0;
      border-radius: 5px;
      position: absolute;
      max-width: 1200px;
      width: 100%;
      bottom: -120px; }
      .content .banner-home .category-carousel .item-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        overflow: hidden; }
        .content .banner-home .category-carousel .item-category img {
          border-radius: 50%;
          margin-bottom: 10px;
          transition: all 1s; }
        .content .banner-home .category-carousel .item-category:hover {
          color: #8cc63f;
          box-shadow: 0 1px 1px -4px #ccc; }
          .content .banner-home .category-carousel .item-category:hover img {
            opacity: 0.7; }
  .content .content-home {
    padding-bottom: 10px; }
    .content .content-home .best-seller {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 120px; }
      .content .content-home .best-seller .title-best-seller {
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
        font-weight: 700; }
      .content .content-home .best-seller .tab-best-seller .nav-tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        border-bottom: 0 !important; }
        .content .content-home .best-seller .tab-best-seller .nav-tabs .nav-link {
          border: none !important;
          margin-right: 10px;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600; }
        .content .content-home .best-seller .tab-best-seller .nav-tabs .nav-link.active {
          color: #3e8e41 !important;
          background-color: #f5faed; }
    .content .content-home .banner-discount {
      background-image: url(https://images7.alphacoders.com/328/thumb-1920-328672.jpg);
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      flex-direction: column; }
      .content .content-home .banner-discount .img-banner-discount {
        height: 300px;
        position: absolute;
        object-fit: cover;
        width: 100%; }
      .content .content-home .banner-discount h2 {
        z-index: 10; }
      .content .content-home .banner-discount .blur-banner-discount {
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: 9;
        opacity: 0.3;
        background-color: #000; }
      .content .content-home .banner-discount .time-discount {
        margin-top: 20px;
        z-index: 10; }
        .content .content-home .banner-discount .time-discount span {
          background: #fff0 !important;
          border: 3px solid #fff;
          border-radius: 99px !important;
          padding: 20px !important;
          color: #fff;
          margin-right: 12px; }
  .content .box-introduce {
    padding-bottom: 10px; }
    .content .box-introduce .banner-introduce {
      position: relative;
      height: 200px;
      text-align: center; }
      .content .box-introduce .banner-introduce .img-banner-introduce {
        height: 200px;
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1; }
      .content .box-introduce .banner-introduce .blur-banner-introduce {
        height: 200px;
        position: absolute;
        background-color: #000;
        opacity: 0.3;
        z-index: 2;
        width: 100%; }
      .content .box-introduce .banner-introduce h5 {
        color: #fff;
        font-size: 40px !important;
        font-weight: 600 !important;
        line-height: 200px;
        z-index: 20;
        position: relative; }
    .content .box-introduce .content-introduce {
      max-width: 1200px;
      margin: auto;
      padding: 20px 0; }
      .content .box-introduce .content-introduce div {
        line-height: 1.7; }
      .content .box-introduce .content-introduce h5 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px !important; }
      .content .box-introduce .content-introduce .item-introduce {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        .content .box-introduce .content-introduce .item-introduce div {
          text-align: center; }
  .content .box-detail-product {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 50px; }
    .content .box-detail-product .detail-product {
      background: #fff;
      border-radius: 10px;
      padding: 20px 10px 0 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin: 0; }
      .content .box-detail-product .detail-product .image-product {
        max-width: 500px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: #ccc 0px 1px 2px 0px, #ccc 0px 1px 3px 1px;
        object-fit: cover; }
      .content .box-detail-product .detail-product .name-category {
        font-size: 16px !important; }
    .content .box-detail-product .tab-product {
      margin-top: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      padding: 20px; }
      .content .box-detail-product .tab-product .nav-tabs {
        display: flex;
        margin-bottom: 25px;
        border-bottom: 0 !important; }
        .content .box-detail-product .tab-product .nav-tabs .nav-link {
          border: none !important;
          margin-right: 10px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          color: #333333;
          border-radius: 10px;
          background-color: #ccc;
          width: 140px;
          text-align: center; }
        .content .box-detail-product .tab-product .nav-tabs .nav-link.active {
          background-color: #8cc63f;
          color: #fff; }
      .content .box-detail-product .tab-product .form-rating {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px; }
    .content .box-detail-product .relation-product {
      margin-top: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      padding: 20px; }
  .content .category {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px; }
    .content .category .list-rating:hover {
      background-color: #8cc63f;
      cursor: pointer;
      margin-right: 10px; }
    .content .category .list-category {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px; }
      .content .category .list-category h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0; }
      .content .category .list-category .title-category {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: 700; }
        .content .category .list-category .title-category:hover {
          background-color: #8cc63f;
          color: #fff; }
  .content .blog {
    width: 100%;
    max-width: 1200px;
    margin: auto; }
    .content .blog .detail-blog {
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px; }
      .content .blog .detail-blog .comment-blog {
        margin-top: 40px; }
    .content .blog .list-blog {
      border-radius: 10px 10px 0 0;
      box-shadow: #ccc 0px 8px 24px; }
      .content .blog .list-blog h5 {
        background: #8cc63f;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        color: #fff;
        margin: 0; }
      .content .blog .list-blog .blog-item {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        display: flex;
        font-weight: normal; }
        .content .blog .list-blog .blog-item:hover {
          background-color: #8cc63f;
          color: #fff; }
    .content .blog .title-detail-blog {
      font-size: 25px;
      font-weight: 700; }
  .content .box-contract .banner-contract {
    position: relative;
    height: 200px; }
    .content .box-contract .banner-contract .img-contract {
      height: 200px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
    .content .box-contract .banner-contract .blur-banner-contract {
      height: 200px;
      position: absolute;
      width: 100%;
      background-color: #000;
      opacity: 0.3; }
    .content .box-contract .banner-contract .title-contract {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #f8f9fa;
      font-weight: 600;
      z-index: 2;
      position: relative;
      line-height: 200px; }
  .content .box-contract .content-introduce {
    max-width: 1200px;
    width: 100%; }
  .content .box-cart .banner-cart {
    position: relative;
    height: 200px; }
    .content .box-cart .banner-cart .img-cart {
      height: 200px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
    .content .box-cart .banner-cart .blur-banner-cart {
      height: 200px;
      position: absolute;
      width: 100%;
      background-color: #000;
      opacity: 0.3; }
    .content .box-cart .banner-cart .title-cart {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #f8f9fa;
      font-weight: 600;
      z-index: 2;
      position: relative;
      line-height: 200px; }
  .content .box-cart .banner-check-out {
    height: 200px;
    position: relative; }
    .content .box-cart .banner-check-out .img-banner-check-out {
      height: 200px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
    .content .box-cart .banner-check-out .blur-check-out {
      height: 200px;
      position: absolute;
      width: 100%;
      background-color: #000;
      opacity: 0.3; }
    .content .box-cart .banner-check-out .icon-back {
      position: absolute;
      top: 100px;
      font-size: 35px;
      left: 20px;
      color: #fff;
      z-index: 3;
      cursor: pointer; }
    .content .box-cart .banner-check-out .title-cart {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #f8f9fa;
      font-weight: 600;
      z-index: 2;
      position: relative;
      line-height: 200px; }
  .content .box-cart .group-btn {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .content .box-cart .btn {
    width: 100%;
    max-width: 200px; }
  .content .box-cart .table-cart {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }
  .content .box-cart .table tr td {
    height: 50px;
    padding: 10px; }
    .content .box-cart .table tr td .form-control {
      margin-top: 5px; }
    .content .box-cart .table tr td div {
      display: flex;
      align-items: center;
      height: 50px; }
  .content .box-policy {
    padding-bottom: 10px; }
    .content .box-policy .banner-policy {
      position: relative;
      height: 200px;
      text-align: center; }
      .content .box-policy .banner-policy .img-banner-policy {
        height: 200px;
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1; }
      .content .box-policy .banner-policy .blur-banner-policy {
        height: 200px;
        position: absolute;
        background-color: #000;
        opacity: 0.3;
        z-index: 2;
        width: 100%; }
      .content .box-policy .banner-policy h5 {
        color: #fff;
        font-size: 40px !important;
        font-weight: 600 !important;
        line-height: 200px;
        z-index: 20;
        position: relative; }
    .content .box-policy .content-policy {
      max-width: 1200px;
      margin: auto;
      padding: 20px 0; }
      .content .box-policy .content-policy div {
        line-height: 1.7; }
      .content .box-policy .content-policy h5 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px !important; }
      .content .box-policy .content-policy .item-policy {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        .content .box-policy .content-policy .item-policy div {
          text-align: center; }

.footer {
  background-image: url(https://images5.alphacoders.com/377/thumb-1920-377782.jpg);
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff; }

.btn-custom {
  background-color: #8cc63f;
  color: #fff;
  border-radius: 10px; }
  .btn-custom:hover {
    box-shadow: 0 0 5px 1px #8cc63f; }

.rating {
  color: #ffa000;
  list-style-type: none;
  padding: 0;
  display: flex; }

.name-product {
  font-weight: 700 !important;
  height: 35px;
  font-size: 18px; }

.title-blog {
  font-weight: 700 !important;
  font-size: 18px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.time-blog {
  font-size: 14px;
  color: #9d9797; }

.content-blog {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.overlay {
  overflow: hidden; }
  .overlay img {
    transition-duration: 1.5s;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 !important; }

@media (max-width: 500px) {
  .title-blog {
    font-weight: 700 !important;
    font-size: 16px; }
  .time-blog {
    font-size: 12px;
    color: #9d9797; }
  .content-blog {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px; }
  .overlay img {
    height: 100px; } }

.menu-active {
  background-color: #8cc63f !important;
  color: #fff; }

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

.btn:focus {
  box-shadow: none !important; }

.btn-transparent {
  background-color: transparent; }
  .btn-transparent:hover {
    background-color: #8cc63f !important; }
    .btn-transparent:hover a {
      color: #fff !important; }

.form-control {
  border-radius: 10px !important; }

.icon-sideshow:hover {
  color: #a8e618; }

.header .navbar-nav .nav-link a {
  padding: 10px !important; }

.header .navbar-nav .nav-link .btn {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.max-width-1300 {
  max-width: 1300px;
  width: 100%; }

.form-check {
  position: relative;
  display: block; }

.form-check-toggle {
  position: relative;
  padding-left: 0;
  line-height: 30px; }
  .form-check-toggle input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }
  .form-check-toggle input + span {
    cursor: pointer;
    user-select: none;
    height: 15px;
    margin-left: 70px;
    display: block; }
    .form-check-toggle input + span:before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 17px;
      width: 37px;
      background: #726d6d;
      border: solid 1px #6c757d;
      transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
      border-radius: 15px; }
    .form-check-toggle input + span:after {
      width: 15px;
      height: 15px;
      margin-top: 1px;
      margin-left: 1px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      background: #fff;
      transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      text-align: center;
      font-weight: bold;
      content: "";
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.05); }
  .form-check-toggle input:checked + span:after {
    content: "";
    margin-left: 21px;
    box-shadow: none; }
  .form-check-toggle input:checked + span:before {
    background-color: #86be4e;
    border-color: #86be4e;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out; }

.cursor-pointer {
  cursor: pointer; }

.input-group {
  max-width: 500px;
  margin-top: 20px; }
  .input-group .form-control {
    border-radius: 10px 0 0 10px !important; }
    .input-group .form-control:focus {
      box-shadow: none !important; }
  .input-group .btn {
    border-radius: 0 10px 10px 0; }

a {
  color: unset !important; }

a:hover {
  color: unset !important;
  text-decoration: none !important; }

.loadingData {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

/* * * * * General CSS * * * * */
*,
*::before,
*::after {
  box-sizing: border-box; }

.box-login {
  background-image: url(https://images4.alphacoders.com/360/thumb-1920-36074.jpg); }

.wrapper-login {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .wrapper-login .container-login {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .wrapper-login .btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
  .wrapper-login .btn:hover {
    color: #4caf50;
    background: #ffffff; }

.credit {
  position: relative;
  margin: 25px auto 0 auto;
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400; }

.credit a {
  color: #222222;
  font-size: 16px;
  font-weight: 600; }

/* * * * * Login Form CSS * * * * */
h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700; }

h2 img {
  width: 120px; }

p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; }

.col-left,
.col-right {
  width: 55%;
  padding: 45px 35px;
  display: flex; }

.col-left {
  width: 45%;
  background: #4caf50;
  -webkit-clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
  clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0); }
  .col-left .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
    text-align: center; }

@media (max-width: 575.98px) {
  .container-login {
    flex-direction: column;
    box-shadow: none; }
  .col-left,
  .col-right {
    width: 100%;
    margin: 0;
    padding: 30px;
    -webkit-clip-path: none;
    clip-path: none; } }

.login-form {
  position: relative;
  width: 100%;
  color: #666666; }

.login-form p:last-child {
  margin: 0; }

.login-form p a {
  color: #4caf50;
  font-size: 14px;
  text-decoration: none; }

.login-form p:last-child a:last-child {
  float: right; }

.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: 0.5px; }

.login-form p:last-child label {
  width: 60%;
  float: left; }

.login-form label span {
  color: #ff574e;
  padding-left: 2px; }

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px; }

.login-form input:focus {
  border-color: #14ec6e; }

.login-form input.btn {
  color: #ffffff;
  background: #4caf50;
  border-color: #4caf50;
  outline: none;
  cursor: pointer; }

.login-form input.btn:hover {
  color: #4caf50;
  background: #ffffff; }

/* Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
*/
/*==================== 
	Footer 
====================== */
/* Main Footer */
footer .footer-form {
  height: 300px;
  position: relative; }
  footer .footer-form .bg-form-footer {
    object-fit: cover;
    height: 300px;
    width: 100%;
    z-index: -1; }
  footer .footer-form .blur-img {
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
  footer .footer-form .form {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer .footer-form .form h5 {
      color: #fff;
      font-size: 30px; }
    footer .footer-form .form div {
      color: #fff;
      font-size: 14px;
      margin-top: 20px; }

footer .main-footer {
  padding: 20px 0;
  background: #252525; }
  footer .main-footer .box-footer {
    max-width: 1180px;
    margin: auto;
    width: 100%; }

@media (max-width: 962px) {
  footer .main-footer .box-footer {
    padding: 0 10px; } }

footer ul {
  padding-left: 0;
  list-style: none; }

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0; }

.footer-copyright .logo {
  display: inherit; }

.footer-copyright nav {
  float: right;
  margin-top: 5px; }

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px; }

.footer-copyright nav ul li a {
  color: #969696; }

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0; }

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0; }

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222; }

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent; }

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9; }

footer.light .main-footer {
  background: #f9f9f9; }

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); }

/* Footer 4 */
.footer- .logo {
  display: inline-block; }

/*==================== 
	Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px; }

.widget.widget-last {
  margin-bottom: 0px; }

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none; }

.widget.subscribe p {
  margin-bottom: 18px; }

.widget li a {
  color: #ff8d1e; }

.widget li a:hover {
  color: #4b92dc; }

.widget-title {
  margin-bottom: 20px; }

.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%; }

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%; }

.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.widget .badge {
  float: right;
  background: #7f7f7f; }

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff; }

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto; }

ul.social-footer2 li {
  display: inline-block;
  padding: 0; }

ul.social-footer2 li a:hover {
  background-color: #ff8d1e; }

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center; }

.btn-footer {
  background-color: #ff8d1e;
  color: #fff; }

.btn-footer:hover,
.btn-footer:focus,
.btn-footer.active {
  background: #4b92dc;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s; }

.ant-table-container .ant-table-content .ant-table-thead > tr > th {
  font-weight: 600; }

.ck-editor {
  background: #000000; }
  .ck-editor__main .ck-editor__editable {
    min-height: 200px;
    height: 100%;
    border-radius: 0 0 8px 8px !important; }
  .ck-editor__top .ck-toolbar {
    border-radius: 8px 8px 0 0 !important; }

.card-body {
  padding: 0.7rem; }

p,
span,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0; }

.ant-modal .ant-modal-content {
  border-radius: 8px;
  overflow: hidden; }
